@model IEnumerable<realtor_helper.Models.Feature>

@{
    ViewBag.Title = "Index";
    realtor_helper.DAL.RealtorContext db = new realtor_helper.DAL.RealtorContext();
    int houses = db.Houses.Count();
    int value = db.Features.Count();
    int count = 0;
}

<h2>Index</h2>

<p>    
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeatureID)
        </th>
        <th></th>
@while(count < 2) {
    foreach (var item in db.Features)
    {
        if (count < houses) { 
        <tr>   
           
            <td>          
                @Html.DisplayFor(modelItem => item.Name)           
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeatureID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FeatureID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FeatureID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FeatureID })
            </td>        
        </tr>
        }
        count++;

    }
    return;
}

</table>
